<a href="admin/verified/add">Add new Artist</a>

<!--Requires a few things:
1.Choosing an artist to edit/remove
2.Select whether to edit/remove artist
3.Warning added before removal
4.Save updated artist data before finalizing edit-->
<a href="admin/verified/remove">Remove artist</a>
<a href="admin/verified/edit">Edit artist</a>