/* Coolors Exported Palette - coolors.co/e2d81c-000000-d32127-9fd1dd-625e39 */

/* HSL */
$color1: hsla(57%, 78%, 50%, 1);
$color2: hsla(0%, 0%, 0%, 1);
$color3: hsla(358%, 73%, 48%, 1);
$color4: hsla(192%, 48%, 75%, 1);
$color5: hsla(54%, 26%, 30%, 1);

/* RGB */
$color1: rgba(226, 216, 28, 1);
$color2: rgba(0, 0, 0, 1);
$color3: rgba(211, 33, 39, 1);
$color4: rgba(159, 209, 221, 1);
$color5: rgba(98, 94, 57, 1);